/* Base cursor styles */
body {
    cursor: url('../assets/images/cursur-default.png'), auto;
}

.contact-btn {
    cursor: url('../assets/images/cursur-pointer.png'), pointer;
}

.projects, .about, .education {
    cursor: url('../assets/images/cursur-default.png'), auto;
}